<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/warehouse/suppliers/add">Добавить поставщика</a>
<br>
<h2>Список поставщиков</h2>
<table>
    <tr>
        <th>Название</th>
        <th>Страна</th>
        <th>Дата начала контракта</th>
        <th>Дата окончания контракта</th>
    </tr>
    <tr th:each="supplier : ${suppliers}">
        <td th:text="${supplier.name}"></td>
        <td th:text="${supplier.country}"></td>
        <td th:text="${#temporals.format(supplier.contractStart, 'dd.MM.yyyy')}"></td>
        <td th:text="${#temporals.format(supplier.contractEnd, 'dd.MM.yyyy')}"></td>
    </tr>
</table>
</body>
</html>