<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Обновление поставщика</title>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta
            http-equiv="X-UA-Compatible"
            content="ie=edge"
    >
    <link
            rel="stylesheet"
            href="/styles/styles.css"
    >
</head>

<body>
<section class="section container">
    <h1 class="h2">Изменение информации о поставщике</h1>

    <form
            method="post"
            th:action="@{'/warehouse-manager/update/supplier/' + ${supplier.id}}"
            class="form"
    >
        <div class="field">
            <label for="name">Название:</label>
            <input
                    type="text"
                    class="input"
                    id="name"
                    name="name"
                    minlength="3"
                    maxlength="32"
                    th:value="${supplier.name}"
                    required
            >
        </div>

        <div class="field">
            <label for="country">Страна:</label>
            <input
                    type="text"
                    class="input"
                    id="country"
                    name="country"
                    minlength="3"
                    maxlength="32"
                    th:value="${supplier.country}"
                    required
            >
        </div>

        <div class="field">
            <label for="contract_start">Начало контракта:</label>
            <input
                    type="date"
                    class="input"
                    id="contract_start"
                    name="contractStart"
                    pattern="\d{2}\.\d{2}\.\d{4}"
                    th:value="${supplier.contractStart}"
                    required
            >
        </div>

        <div class="field">
            <label for="contractEnd">Окончание контракта:</label>
            <input
                    type="date"
                    class="input"
                    id="contractEnd"
                    name="contractEnd"
                    pattern="\d{2}\.\d{2}\.\d{4}"
                    th:value="${supplier.contractEnd}"
                    required
            >
        </div>

        <button
                type="submit"
                class="button button--submit"
        >Подтвердить
        </button>
    </form>
</section>
</body>
</html>