<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Добавление администратора</title>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta
            http-equiv="X-UA-Compatible"
            content="ie=edge"
    >
    <link
            rel="stylesheet"
            href="/styles/styles.css"
    >
</head>

<body>
<section class="section container">
    <h1 class="h2">Добавление нового администратора</h1>
    <form
            method="post"
            th:action="@{/admin/add}"
            class="form"
    >

        <div class="field">
            <label for="email">Почта:</label>
            <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="ivanovivan@email.com"
                    class="input"
                    required
            >
        </div>

        <div class="field">
            <label for="password">Пароль:</label>
            <input
                    type="password"
                    id="password"
                    name="password"
                    minlength="6"
                    maxlength="32"
                    class="input"
                    required
            >
        </div>

        <div class="field">
            <label for="firstName">Имя:</label>
            <input
                    type="text"
                    id="firstName"
                    name="firstName"
                    minlength="3"
                    maxlength="32"
                    class="input"
                    required
            >
        </div>

        <div class="field">
            <label for="lastName">Фамилия:</label>
            <input
                    type="text"
                    id="lastName"
                    name="lastName"
                    minlength="3"
                    maxlength="32"
                    class="input"
                    required
            >
        </div>

        <div class="field">
            <label for="phone">Телефон:</label>
            <input
                    type="tel"
                    id="phone"
                    name="phone"
                    placeholder="+71234567890"
                    class="input"
            >
        </div>

        <button
                type="submit"
                class="button button-submit"
        >Подтвердить
        </button>
    </form>
</section>
</body>
</html>