<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div>
    <h2>Добавление нового сотрудника</h2>
    <form method="post" action="/admin/add/employee">

        <div>
            <label for="name">Название:</label>
            <input type="text" id="name" name="name" maxlength="32" required>
        </div>
        <br>

        <div>
            <label for="country">Страна:</label>
            <input type="text" id="country" name="country" maxlength="32" required>
        </div>
        <br>

        <div>
            <label for="contract_start">Начало контракта:</label>
            <input type="date" id="contract_start" name="contractStart" pattern="\d{2}\.\d{2}\.\d{4}" placeholder="ДД.ММ.ГГГГ" required>
        </div>
        <br>

        <div>
            <label for="contractEnd">Окончание контракта:</label>
            <input type="date" id="contractEnd" name="contractEnd" pattern="\d{2}\.\d{2}\.\d{4}" placeholder="ДД.ММ.ГГГГ" required>
        </div>
        <br>

        <button type="submit">Подтвердить</button>
        <br>
    </form>
</div>
</body>
</html>