<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Обновление заведующего складом</title>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta
            http-equiv="X-UA-Compatible"
            content="ie=edge"
    >
    <link
            rel="stylesheet"
            href="/styles/styles.css"
    >
    <script src="/scripts/customSelect.js"></script>
    <script src="/scripts/tags.js"></script>
</head>

<body>
<section class="section container">
    <h1 class="h2">Изменение информации о сотруднике</h1>
    <form
            method="post"
            th:action="@{'/admin/update/warehouse-manager/' + ${warehouseManager.id}}"
            class="form"
    >
        <div class="field">
            <label for="firstName">Имя:</label>
            <input
                    type="text"
                    id="firstName"
                    name="firstName"
                    minlength="2"
                    maxlength="32"
                    class="input"
                    th:value="${warehouseManager.firstName}"
                    required
            >
        </div>

        <div class="field">
            <label for="lastName">Фамилия:</label>
            <input
                    type="text"
                    id="lastName"
                    name="lastName"
                    minlength="2"
                    maxlength="32"
                    class="input"
                    th:value="${warehouseManager.lastName}"
                    required
            >
        </div>

        <div class="field">
            <label for="phone">Телефон:</label>
            <input
                    type="tel"
                    id="phone"
                    name="phone"
                    placeholder="+71234567890"
                    th:value="${warehouseManager.phone}"
                    class="input"
            >
        </div>

        <div class="field">
            <label for="activity">Активность:</label>
            <select
                    id="activity"
                    name="activity"
                    class="input select"
                    required
            >
                <option
                        value="ACTIVE"
                        th:selected="${warehouseManager.activity.name() == 'ACTIVE'}"
                >Активен
                </option>
                <option
                        value="BLOCKED"
                        th:selected="${warehouseManager.activity.name() == 'BLOCKED'}"
                >Заблокирован администратором
                </option>
            </select>
        </div>

        <div class="field">
            <label for="status">Статус:</label>
            <select
                    id="status"
                    name="status"
                    class="input select"
                    required
            >
                <option
                        value="ACTIVE"
                        th:selected="${warehouseManager.status.name() == 'ACTIVE'}"
                >Работает
                </option>
                <option
                        value="ON_LEAVE"
                        th:selected="${warehouseManager.status.name() == 'ON_LEAVE'}"
                >В отпуске
                </option>
                <option
                        value="FIRED"
                        th:selected="${warehouseManager.status.name() == 'FIRED'}"
                >Уволен
                </option>
            </select>
        </div>

        <div class="field">
            <label for="storeSearch">Магазин:</label>
            <div class="custom-select-wrapper">
                <input
                        type="text"
                        id="storeSearch"
                        class="input custom-select-search"
                        placeholder="Поиск магазина..."
                        autocomplete="off"
                        th:value="${warehouseManager.storeLocation}"
                >
                <input
                        type="hidden"
                        id="storeId"
                        name="storeId"
                        th:value="${warehouseManager.storeId}"
                >
                <div
                        class="custom-select-dropdown"
                        id="storeDropdown"
                >
                    <div
                            class="custom-select-option"
                            th:each="store : ${stores}"
                            th:data-value="${store.id}"
                            th:text="${store.location}"
                    ></div>
                    <div class="custom-select-option custom-select-option--empty-message empty-message">Ничего не
                        найдено
                    </div>
                </div>
            </div>
        </div>

        <button
                type="submit"
                class="button button--submit"
        >Подтвердить
        </button>
    </form>
</section>
</body>
</html>
