@use '../helpers/index' as *;

.button {
  align-self: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: var(--input-height);
  padding: var(--padding);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--text);
  background-color: var(--primary);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-m);
  cursor: pointer;

  @include hover {
    color: var(--bg);
    background-color: var(--primary-active);
    transition-duration: var(--transition-duration);
  }

  &:active {
    transition-duration: var(--transition-duration);
    transform: translateY(2px);
  }

  &--wide {
    width: 100%;
  }

  &--ready {
    background-color: var(--caret);

    @include hover {
      color: var(--text);
      background-color: var(--primary-active);
    }
  }

  &--add {
    flex-shrink: 0;
    width: 30%;
  }

  &--remove,
  &--decrement,
  &--increment {
    @include square(48px);

    flex-shrink: 0;
    align-items: center;
    border-radius: var(--border-radius);
  }
}
