@use '../helpers/index' as *;

.product-card {
  @include flex-center();
  flex-direction: column;

  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--bg-light);
  padding: 24px;
  width: 100%;
  height: 100%;

  box-shadow: var(--shadow-l);

  &__image-wrapper {
    max-width: 250px;
    width: 100%;
    aspect-ratio: 1;
    border-radius: var(--border-radius);
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__title {
    width: 100%;
    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__controls {
    @include flex-center();
    gap: 12px;
  }

  &__form {
    width: 100%;
  }
}