@use '../helpers/index' as *;

.cart {
  --list-items-gap: 12px;

  &__list-wrapper {
    width: 100%;
    border: var(--border);
    border-radius: 8px;
    padding: 16px;
    background-color: var(--bg-light);
    color: var(--text);
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--list-items-gap);
  }

  &-card {
    display: flex;
    gap: 24px;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    &__image-wrapper {
      max-width: 250px;
      width: 100%;
      aspect-ratio: 1;
      border-radius: var(--border-radius);
    }

    &__image {
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }

    &__controls {
      display: flex;
      gap: 24px;
      align-items: center;
    }

    &__choose-quantity {
      @include flex-center;
      gap: 16px;
    }
  }
}

.list__item {
  max-width: 100%;

  &:not(:last-child) {

    &::after {
      --string-transform: calc(var(--list-items-gap) / 2);

      content: "";
      display: block;
      width: 100%;
      height: 3px;
      transform: translateY(var(--string-transform));
      background-color: var(--border-color);
      border-radius: var(--border-radius);
    }
  }
}