@use '../helpers/index' as *;

.product-card {
  @include flex-center;

  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: var(--bg-light);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-l);

  &__image-wrapper {
    max-width: 250px;

    // width, aspect-ratio, border-radius через .u-image-wrapper в HTML
  }

  &__image {
    // стили через .u-image в HTML
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  &__title {
    width: 100%;
    text-align: center;

    // overflow, text-overflow, white-space через .u-text-ellipsis в HTML
  }

  &__controls {
    @include flex-center;

    gap: 12px;
  }

  &__form {
    width: 100%;
  }
}
