@use '../helpers/index' as *;

.cart {
  --list-items-gap: 12px;

  &__list-wrapper {
    width: 100%;
    padding: 16px;
    color: var(--text);

    // border, border-radius, background через .u-card в HTML
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--list-items-gap);

    // список с разделителями через .u-list-divider в HTML
  }

  &-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    width: 100%;

    &__image-wrapper {
      max-width: 250px;

      // width, aspect-ratio, border-radius через .u-image-wrapper в HTML
    }

    &__image {
      // стили через .u-image в HTML
    }

    &__controls {
      display: flex;
      align-items: center;
      gap: 24px;
    }

    &__choose-quantity {
      @include flex-center;

      gap: 16px;
    }
  }
}
