@use '../helpers/index' as *;

.empty-message {
  @include flex-center();
  width: 50%;
  height: 10vh;
  border: var(--border);
  border-radius: 8px;
  padding: 16px;
  background-color: var(--bg-light);
  color: var(--warning);
  font-weight: 600;
  text-align: center;
}