@use '../helpers/index' as *;

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding-inline: calc(var(--container-padding-x) * 2);
  background-color: var(--bg-light);
  border-bottom: 2px solid var(--border-color);

  &::before {
    content: '';
    z-index: -1;
    width: 100vw;
    height: 100%;
    background-color: var(--bg-light);

    @include abs-center;
  }

  &::after {
    content: '';
    z-index: -1;
    width: 100vw;
    height: 100%;
    border-bottom: 2px solid var(--border-color);
    transform: translateY(2px);

    @include abs-center;
  }

  &__logo {
    @include flex-center;

    gap: 12px;

    @include hover {
      color: var(--text);
      opacity: 0.5;
    }
  }

  &__title {
    @include hover {
      color: var(--text);
    }
  }

  &__list {
    @include flex-center;

    gap: 8px;
  }

  &__item {
    @include flex-center;

    a {
      padding: 10px;
    }
  }

  &__auth,
  &__cart {
    svg {
      @include square(36px);
    }
  }
}
