@use '../helpers/index' as *;

.home {
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  gap: 56px;

  &__controls {
    @include flex-center;

    position: sticky;
    top: 20px;
    width: 30%;
  }

  &__products {
    width: 70%;

    &-title {
      text-align: center;
    }
  }

  &__field {
    flex-direction: column;
  }

  &__fieldset {
    --fieldset-width: 250px;
  }

  &__products-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center stretch;
    gap: 24px;
    padding: 24px;
  }

  &__item {
    width: 100%;
    min-width: 0;
    max-width: 350px;
    height: 100%;
  }
}
