@use '../helpers/index' as *;

.order {
  width: 35%;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 35%;

    .button--submit {
      width: 100%;
    }
  }

  &__label {
    cursor: pointer;

    &--products {
      align-self: start;
    }
  }

  &__info {
    flex-shrink: 0;
    width: 290px;
    max-width: 290px;
    padding: 6px;
  }
}

ol {
  &.order__info {
    list-style-position: inside;
  }
}
