@use '../helpers/index' as *;

.product {
  --image-width: 350px;

  &__card {
    display: grid;
    grid-template-columns: var(--image-width) 1fr;
    grid-template-areas:
      'image content'
      'tags tags'
    ;
    gap: 24px;
    width: 100%;
    padding: 36px;
  }

  &__image-wrapper {
    grid-area: image;
    max-width: var(--image-width);

    // width, aspect-ratio, border-radius через .u-image-wrapper в HTML
  }

  &__image {
    // стили через .u-image в HTML
  }

  &__content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }

  &__title {
    text-align: center;

    // overflow, text-overflow, white-space через .u-text-ellipsis в HTML
  }

  &__supplier,
  &__description,
  &__price,
  &__quantity {
    display: inline-flex;
    align-items: center;
    gap: 12px;

    p {
      margin: 0;
    }

    &-title {
      font-weight: 600;
    }
  }

  &__description {
    &-title {
      align-self: start;
    }
  }

  &__cart {
    flex-direction: row;
    justify-content: start;
    align-items: center;

    .button--submit {
      width: auto;
    }
  }

  &__tags {
    grid-area: tags;
    display: flex;
    gap: 12px;
    width: 100%;
  }

  &__fieldset {
    width: 100%;

    &-link {
      @include hover {
        color: var(--text);
      }
    }

    label,
    &-link {
      width: auto;
    }
  }
}
