@use '../helpers/index' as *;

.product {
  --image-width: 350px;

  &__card {
    width: 100%;
    display: grid;
    grid-template-columns: var(--image-width) 1fr;
    grid-template-areas:
      'image content'
      'tags tags'
    ;
    gap: 24px;
    padding: 36px;
  }

  &__image-wrapper {
    grid-area: image;
    max-width: var(--image-width);
    width: 100%;
    aspect-ratio: 1;
    border-radius: var(--border-radius);
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  &__content {
    grid-area: content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
  }

  &__title {
    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__supplier,
  &__description,
  &__price,
  &__quantity {
    display: inline-flex;
    align-items: center;
    gap: 12px;

    p {
      margin: 0;
    }
  }

  &__cart {
    flex-direction: row;
    justify-content: start;
    align-items: center;

    .button-submit {
      width: auto;
    }
  }

  &__tags {
    grid-area: tags;
    width: 100%;
    display: flex;
    gap: 12px;
  }

  &__fieldset {
    width: 100%;

    label,
    &-link {
      width: auto;
    }
  }
}