@use '../helpers/index' as *;

.select {
  max-width: var(--input-width);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  option {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.custom-select-wrapper {
  position: relative;
  width: var(--input-width);

  &--wide {
    width: 100%;
  }
}

.custom-select-search {
  cursor: pointer;
}

.custom-select-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 0;
  min-width: 350px;
  overflow-y: auto;
  background-color: var(--bg-light);
  border: var(--border);
  border-radius: var(--border-radius);
  margin-top: 4px;
  z-index: 1000;
  box-shadow: var(--shadow-l);
  opacity: 0;
  visibility: hidden;
  transition-duration: var(--transition-duration);

  &.show {
    max-height: 300px;
    opacity: 1;
    visibility: visible;
  }
}

.custom-select-option {
  padding: var(--padding) 12px;
  cursor: pointer;
  color: var(--text);
  border-bottom: 1px solid var(--border-color);
  transition-duration: var(--transition-duration);

  &:last-child {
    border-bottom: none;
  }

  @include hover {
    background-color: var(--bg);
  }

  &:active {
    background-color: var(--primary);
    color: var(--bg-light);
  }

  &--empty-message {
    color: var(--text-muted);
    display: none;
    pointer-events: none;

    @include hover {
      background-color: var(--bg-light);
    }

    &:active {
      background-color: var(--bg-light);
      color: var(--text-muted);
    }

    &.show {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
