@use '../helpers/index' as *;

.supply {
  display: flex;
  width: 100%;

  &__titles,
  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
    width: 55%;
  }

  &__list,
  &__item {
    width: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  .input {
    width: 100%;
  }

  &__controls {
    @include flex-center;

    gap: 24px;
    width: 100%;

    .button--submit {
      width: 30%;
    }
  }
}
