@use '../helpers/index' as *;

.tables {
  @include flex-center;
  flex-direction: column;
  gap: 12px;

  &__controls {
    max-width: 350px;
    align-items: stretch;
    padding-top: calc(var(--container-padding-x) * 5);

    &-button {
      width: 300px;
      flex: 0;
    }
  }
}

.table {
  width: 1500px;
  border-collapse: collapse;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--shadow-l);
  background-color: var(--bg-light);

  thead {
    background-color: var(--primary);
    color: var(--bg);

    tr {
      th {
        padding: 14px;
        text-align: center;
        font-weight: 600;
        border-bottom: 2px solid var(--caret);

        &:not(:last-child) {
          border-right: 1px solid var(--bg-light);
        }
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid var(--border-color);
      transition: background-color var(--transition-duration);
      background-color: var(--bg);

      &:nth-child(odd) {
        background-color: var(--bg-light);
      }

      &:last-child {
        border-bottom: none;
      }

      @include hover {
        background-color: var(--bg-dark);
      }

      td {
        padding: 14px 16px;
        color: var(--text);
        text-align: center;
      }
    }
  }

  &__ol {
    width: 100%;
    list-style-position: inside;
  }

  &__item {
    text-align: start;
  }

  &__cell-image {
    @include flex-center;
    flex-direction: column;

    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      object-position: center;
    }
  }
}
