@use '../helpers/index' as *;

.tables {
  @include flex-center;

  flex-direction: column;
  gap: 12px;

  &__controls {
    align-items: stretch;
    max-width: 350px;
    padding-top: calc(var(--container-padding-x) * 5);
    font-size: 24px;

    &-button {
      flex: 0;
      width: 300px;
    }
  }
}

.table {
  overflow: hidden;
  width: 1500px;
  background-color: var(--bg-light);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-l);
  border-collapse: collapse;

  thead {
    color: var(--bg);
    background-color: var(--primary-focus);

    tr {
      th {
        padding: 14px;
        font-weight: 600;
        text-align: center;
        border-bottom: 2px solid var(--primary-active);

        &:not(:last-child) {
          border-right: 1px solid var(--primary);
        }
      }
    }
  }

  tbody {
    tr {
      background-color: var(--bg-light);
      border-bottom: 1px solid var(--border-color);
      transition: background-color var(--transition-duration);

      &:nth-child(odd) {
        background-color: var(--bg-grey);
      }

      &:last-child {
        border-bottom: none;
      }

      @include hover {
        background-color: var(--bg-dark);
      }

      td {
        padding: 14px 16px;
        text-align: center;
        color: var(--text);
      }
    }
  }

  &__ol {
    width: 100%;
    list-style-position: inside;
  }

  &__item {
    text-align: start;
  }

  &__cell-image {
    @include flex-center;

    flex-direction: column;

    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      object-position: center;
    }
  }
}
