@use '../helpers/index' as *;

.tables {
  @include flex-center;
  flex-direction: column;
  gap: 12px;

  &__controls {
    max-width: 350px;
    align-items: stretch;
    padding-top: calc(var(--container-padding-x) * 5);

    &-button {
      width: 300px;
      flex: 0;
    }
  }
}