@use '../helpers/index' as *;

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--shadow-l);
  background-color: var(--bg-light);

  thead {
    background-color: var(--primary);
    color: var(--bg);

    tr {
      th {
        padding: 14px;
        text-align: center;
        font-weight: 600;
        border-bottom: 2px solid var(--caret);

        &:not(:last-child) {
          border-right: 1px solid var(--bg-light);
        }
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid var(--border-color);
      transition: background-color var(--transition-duration);
      background-color: var(--bg);

      &:nth-child(odd) {
        background-color: var(--bg-light);
      }

      &:last-child {
        border-bottom: none;
      }

      @include hover {
        background-color: var(--bg-dark);
      }

      td {
        padding: 14px 16px;
        color: var(--text);
        text-align: center;
      }
    }
  }
}

.td__image {
  @include flex-center;
  flex-direction: column;

  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
  }
}