<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="en"
>

<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta
            http-equiv="X-UA-Compatible"
            content="ie=edge"
    >
    <link
            rel="stylesheet"
            href="/styles/styles.css"
    >
</head>

<body>
<section class="section container">
    <h1 class="h2">Список Товаров</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Поставщик</th>
            <th scope="col">Наименование</th>
            <th scope="col">Цена</th>
            <th scope="col">Количество</th>
            <th scope="col">Статус</th>
            <th scope="col">Изображение</th>
            <th scope="col">Категории</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.supplierName}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.quantity}"></td>
            <td th:text="${product.status}"></td>
            <td class="td__image">
                <img
                        th:if="${product.imageFilename != null}"
                        th:src="@{/images/products/{fileName}(fileName=${product.imageFilename})}"
                        alt="Изображение товара"
                        width="100"
                        height="100"
                        loading="lazy"
                >
                <span th:if="${product.imageFilename == null}">Нет изображения</span>
            </td>
            <td
                    th:text="${#lists.isEmpty(product.categoryNames) ? 'Нет категорий' : #strings.listJoin(product.categoryNames, ', ')}"></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>