<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<h3>Список Товаров</h3>
<table th:bgcolor="black">
    <tr th:bgcolor="lightgrey">
        <th>ID</th>
        <th>Почта</th>
        <th>Активность</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Номер телефона</th>
        <th>Дата регистрации</th>
        <th>Магазин</th>
        <th>Статус</th>
    </tr>
    <tr th:each="warehouseManager : ${warehouseManagers}" th:bgcolor="lightgrey">
        <td th:text="${warehouseManager.id}">
        <td th:text="${warehouseManager.email}">
        <td th:text="${warehouseManager.activity}">
        <td th:text="${warehouseManager.firstName}">
        <td th:text="${warehouseManager.lastName}">
        <td th:text="${warehouseManager.phone}">
        <td th:text="${#temporals.format(warehouseManager.registeredAt, 'dd.MM.yyyy')}">
        <td th:text="${warehouseManager.storeLocation}">
        <td th:text="${warehouseManager.status}">
    </tr>
</table>
</body>
</html>