<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/suppliers/add">Добавить поставщика</a>
<br>
<h2>Список поставщиков</h2>
<!--<table th:bgcolor="black">-->
<!--    <tr th:bgcolor="lightgrey">-->
<!--        <th>ID</th>-->
<!--        <th>Название</th>-->
<!--        <th>Страна</th>-->
<!--        <th>Дата начала контракта</th>-->
<!--        <th>Дата окончания контракта</th>-->
<!--    </tr>-->
<!--    <tr th:bgcolor="azure" th:each="student : ${students}">-->
<!--        <td th:text="${student.userStudent.firstName}"></td>-->
<!--        <td th:text="${student.userStudent.lastName}"></td>-->
<!--        <td th:text="${student.userStudent.faculty}"></td>-->
<!--        <td>-->
<!--            <span th:if="${student.status.name() == 'ACTIVE'}">Обучается</span>-->
<!--            <span th:if="${student.status.name() == 'ACADEMIC_LEAVE'}">Академ</span>-->
<!--            <span th:if="${student.status.name() == 'GRADUATED'}">Выпустился</span>-->
<!--            <span th:if="${student.status.name() == 'EXPELLED'}">Отчислен</span>-->
<!--        </td>-->
<!--        <td th:text="${student.yearOfAdmission}"></td>-->
<!--        <td th:text="${student.yearOfGraduation} ?: '-'"></td>-->
<!--    </tr>-->
<!--</table>-->
</body>
</html>