<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Оформление заказа</title>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta
            http-equiv="X-UA-Compatible"
            content="ie=edge"
    >
    <link
            rel="stylesheet"
            href="/styles/styles.css"
    >
</head>

<body>
<header th:replace="~{customer/header :: header}"></header>
<section class="section container">
    <h1 class="h2">Оформление заказа</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Наименование</th>
            <th scope="col">Количество</th>
            <th scope="col">Стоимость</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="cartItem : ${cartItems}">
            <td>
                <a
                        th:href="@{'/product/' + ${cartItem.productId}}"
                        th:text="${cartItem.productName}"
                ></a>
            </td>
            <td th:text="${cartItem.quantity}"></td>
            <td th:text="${cartItem.quantity} + ' x ' + ${cartItem.productPrice} + ' = ' + ${cartItem.productPrice * cartItem.quantity} + ' ₽'"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td th:text="'Итого: ' + ${totalPrice} + ' ₽'"></td>
        </tr>
        </tbody>
    </table>

    <form
            method="post"
            th:action="@{/create-order}"
            onsubmit="return confirm('Вы уверены, что хотите оформить заказ?')"
    >
        <button
                type="submit"
                class="button button--order"
        >Оформить заказ
        </button>
    </form>
</section>
</body>
</html>